/* INFO CARD */

@keyframes infoCardFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes infoCardFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.info-card {
  position: absolute;
  width: 350px;
  aspect-ratio: 1 / 1.2;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  z-index: 1000;
  font-family: 'Poppins';
  transition: all 0.3s ease-in-out;
}

.info-card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  scale: 1.02;
}

.info-card>* {
  user-select: none;
}

.info-card .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 1rem;
  border-radius: inherit;
  background: transparent;
}

.info-card .title {
  text-transform: capitalize;
  font-size: 1.2rem;
}

.info-card .description,
.info-card .date {
  font-size: .8rem;
  color: #444;
  margin-bottom: 0.3rem;
  text-align: justify;
}

.info-card .date {
  color: #666;
  translate: 0 -0.2rem;
  font-style: italic;
  border-bottom: 1px solid #ccc;
}

.info-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 0.3rem;
}

.info-card .delete {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: .8rem;
  margin-left: auto;
  padding: 8px 16px;
  cursor: pointer;
  outline: none;
  font-size: 0.8rem;
  transition: .3s ease-in-out;
}

.info-card .delete:hover {
  background-color: #e60000;
}

.info-card .delete:active {
  background-color: #b30000;
}

.info-card .delete:focus {
  box-shadow: 0 0 0 2px rgba(255, 77, 77, 0.5);
}

.info-card .delete:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.info-card .same-year-events-list {
  background-color: inherit;
  border-radius: inherit;
  box-shadow: inherit;
  font-family: inherit;
  position: absolute;
  top: 0;
  left: 100%;
  display: flex;
  flex-direction: column;
  gap: .2rem;
  padding: .5rem;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.info-card .same-year-events-list .item {
  padding: .4rem .8rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: .8rem;
  transition: .3s ease-in-out;
  border-bottom: 1px solid #ccc;
}

.info-card .same-year-events-list .item:hover {
  opacity: .7 !important;
}

.info-card .same-year-events-list .title {
  font-size: .9rem;
}

.info-card .same-year-events-list .description {
  margin: unset;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .7rem;
}