/* SETTINGS */

.settings-modal {
  position: fixed;
  margin: auto;
  height: 90%;
  aspect-ratio: 1.2 / 1;
  display: flex;
  border: none;
  border-radius: 8px;
  box-shadow: var(--shadow-main);
  outline: none;
  opacity: 0;
  transition: all .3s allow-discrete;
}

.settings-modal[open] {
  opacity: 1;
}

.settings-modal::backdrop {
  background-color: rgba(0, 0, 0, 0);
  transition: all .3s allow-discrete;
}

.settings-modal[open]::backdrop {
  background-color: rgba(0, 0, 0, .8);
}

@starting-style {
  .settings-modal[open] {
    opacity: 0;
  }

  .settings-modal[open]::backdrop {
    background-color: rgba(0, 0, 0, 0);
  }
}

.settings-modal>p {
  max-width: 40ch;
  margin-block: 1em;
  color: #333;
}

.settings-modal>button {
  background-color: black;
  color: #ddd;
  padding: .5em 1em;
  border-radius: .5rem;
  font-weight: 500;
  font-size: 1rem;
  margin-left: auto;
  display: block;
}

/* SETTINGS SIDEBAR */

.settings-sidebar {
  width: 30%;
  height: 100%;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 1rem;
}

.settings-sidebar p {
  color: #ddd;
  padding: .5rem;
  border-radius: 8px;
  font-size: .9rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.settings-sidebar p:hover {
  background-color: #333;
}

.settings-sidebar button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  outline: none;
  font-size: 0.9rem;
  transition: .3s ease-in-out;
  margin-top: auto;
}

.settings-sidebar button:hover {
  background-color: #ff3333;
}

/* SETTINGS BODY */

.settings-body {
  width: 70%;
  height: 100%;
  background-color: #f0f0f0;
  padding: 2rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.settings-body h3 {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

.settings-body .setting-item {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-block: 10px;
}

.settings-body .setting-item input,
.settings-body .setting-item .toggle-switch,
.settings-body .setting-item select {
  grid-row: span 2;
  height: 30px;
}

.settings-body .toggle-switch input {
  display: none;
}

.settings-body .toggle-switch label {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  background: #ccc;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
}

.settings-body .toggle-switch label::before,
.settings-body .toggle-switch label::after {
  position: absolute;
  content: '';
  top: 0.2em;
  left: 0.2em;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  transition: 0.4s;
}

.settings-body .toggle-switch label::after {
  border-radius: 50%;
  background: #fff;
  transition: all 0.2s ease;
}

.settings-body .toggle-switch label::before {
  display: none;
}

.settings-body .toggle-switch input:checked+label {
  background: #9FD6AE;
}

.settings-body .toggle-switch input:checked+label::after {
  left: 55%;
}

.settings-body .setting-item .description {
  font-size: .8rem;
  color: #666;
}

.settings-body .setting-item select {
  background: transparent;
  color: #333;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.settings-body .setting-item option {
  background-color: #fff;
  color: #000;
  font-size: 14px;
  padding: 5px;
}