/* SIDE PANEL */

.side-panel {
  position: fixed;
  top: 50%;
  right: 30px;
  width: 400px;
  height: calc(100% - 100px);
  background-color: #f0f0f0;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
  font-family: 'Poppins';
  transition: all 0.3s ease-in-out;
  padding-left: 35px;
  overflow-y: auto;
}

.side-panel form {
  display: flex;
  flex-direction: column;
}

.side-panel form h2 {
  margin-bottom: 16px;
}

.side-panel form label {
  user-select: none;
  margin-inline: 3px 14px;
  margin-bottom: 4px;
}

.side-panel form label+span {
  font-size: .9rem;
  padding: .2rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: .3s ease-in-out;
  translate: -4px -2px;
}

.side-panel form label+span:hover {
  background-color: #e0e0e0;
}

.side-panel form input,
.side-panel form textarea {
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background: transparent;
  height: 40px;
}

.side-panel form textarea {
  height: 120px;
  resize: none;
}

.side-panel form input[type="radio"] {
  height: unset;
}

.side-panel form input[type="color"] {
  width: 100%;
  height: 38px;
  border: none;
  padding: unset;
  cursor: pointer;
  outline: none;
}

.side-panel form input[type="color"]::-webkit-color-swatch {
  border-radius: 4px;
  border: none;
}

.side-panel .link,
.side-panel .search {
  display: flex;
}

.side-panel .link input,
.side-panel .search input {
  flex: 1;
}

.side-panel .link input {
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  border-left: none;
}

.side-panel .search input {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  border-right: none;
}

.side-panel .link button,
.side-panel .search button {
  height: 40px;
  aspect-ratio: 1;
  padding: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid #ccc;
}

.side-panel .link button {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}

.side-panel .search button {
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
}

.side-panel .link+img {
  border-radius: 8px;
  margin-bottom: 1rem;
}

.side-panel form button {
  /* padding: 8px 16px; */
  background-color: #1a1a1a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.side-panel .open-close-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* IMAGE DISPLAY */

.side-panel .image-display {
  position: relative;
  max-width: 100%;
  height: 200px;
  margin-bottom: .5rem;
  overflow: hidden;
}

.side-panel .image-display img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.side-panel .image-display button {
  /* position: absolute;
  padding: 8px 16px;
  bottom: 0;
  left: 50%;
  translate: -50% -5px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  transition: .3s; */
}

.side-panel .image-display button:hover {
  /* translate: -50% -10px; */
}

@keyframes sidePanelSwitchImage {
  0% {
    scale: 1;
  }

  25% {
    scale: .7;
  }

  50% {
    translate: 100% 0;
  }

  51% {
    translate: 100% 100%;
  }

  52% {
    translate: -100% 100%;
  }

  53% {
    translate: -100% 0;
  }

  75% {
    scale: .7;
  }

  100% {
    scale: 1;
    translate: 0 0;
  }
}

/* IMAGE MINI BROWSE */

.image-mini-browse {
  width: 100%;
  height: 60px;
  margin-bottom: 1rem;
  display: flex;
  gap: 5px;
  overflow: hidden;
  overflow-x: auto;
}

.image-mini-browse img {
  height: 100%;
  width: auto;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s;
}

.image-mini-browse img:hover {
  scale: 1.05;
}

.image-mini-browse::-webkit-scrollbar {
  height: 8px;
}

.image-mini-browse::-webkit-scrollbar-track {
  background: transparent;
}

.image-mini-browse::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 4px;
}

.image-mini-browse::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}