/* TOOLBAR */

.toolbar * {
  font-family: 'Poppins', cursive;
  color: #333;
  transition: .3s ease-in-out;
}

.toolbar button {
  border: none;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: .3s;
}

.toolbar {
  position: fixed;
  top: 20px;
  left: 20px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 12px 1rem;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: .5rem;
  font-family: 'Poppins';
}

.toolbar>button {
  background-color: #1a1a1a;
  color: white;
}

.toolbar>span {
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 6px;
  border-radius: 8px;
  user-select: none;
}

.toolbar>span:hover {
  background-color: #f0f0f0;
}

.toolbar span[title="More"] {
  position: relative;
}

.toolbar .more-container {
  position: absolute;
  top: 0;
  left: calc(100% + 1rem);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: .7rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

.toolbar .more-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: .5rem;
  border-radius: inherit;
  transition: all 0.3s ease-in-out;
  background: #ffffff;
}

.toolbar .more-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg, #dcdcdc, #f0f0f0, #c0c0c0);
  border-radius: inherit;
  opacity: 0;
  transition: 0.5s ease;
}

.toolbar .more-item:hover::before {
  opacity: 1;
}

.toolbar .more-item * {
  z-index: 2;
}

.toolbar .more-item p {
  font-size: .9rem;
}