@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Snowburst+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', cursive;
  color: black;
}

.toolbar {
  position: fixed;
  top: 20px;
  left: 20px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 12px 24px;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: 'Poppins';
}

.toolbar button {
  background-color: #1a1a1a;
  color: white;
}

.toolbar span {
  font-size: 1.8rem;
  cursor: pointer;
}

/* SIDE PANEL */

.side-panel {
  position: fixed;
  top: 50%;
  right: 30px;
  width: 400px;
  height: calc(100% - 100px);
  background-color: #f0f0f0;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
  padding-left: 35px;
  overflow-y: auto;
  z-index: 1000;
  /* gap: 16px; */
  font-family: 'Poppins';
  transition: all 0.3s ease-in-out;
}

.side-panel form {
  display: flex;
  flex-direction: column;
}

.side-panel form h2 {
  margin-bottom: 16px;
}

.side-panel form label {
  user-select: none;
  margin-inline: 3px 10px;
  margin-bottom: 2px;
}

.side-panel form input,
.side-panel form textarea {
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background: transparent;
}

.side-panel form textarea {
  height: 100px;
  resize: none;
}

.side-panel form button {
  padding: 8px 16px;
  background-color: #1a1a1a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.side-panel .fa-xmark {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 0 8px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1001;
  font-size: 1rem;
}

.side-panel .open-close-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* DETAILS BALLOON */

@keyframes detailsBalloonFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes detailsBalloonFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.details-balloon {
  position: absolute;
  width: 350px;
  aspect-ratio: 1 / 1.2;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 1rem;
  z-index: 1000;
  font-family: 'Poppins';
  transition: all 0.3s ease-in-out;
  overflow-y: auto;

  &:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    scale: 1.02;
  }

  &>* {
    user-select: none;
  }
}

.details-balloon .title {
  text-transform: capitalize;
  font-size: 1.2rem;
}

.details-balloon .fa-xmark {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 1rem;
  color: #444;
}

.details-balloon .description,
.details-balloon .date {
  font-size: .8rem;
  color: #444;
  margin-bottom: 0.3rem;
}

.details-balloon .date {
  color: #666;
  translate: 0 -0.2rem;
  font-style: italic;
  border-bottom: 1px solid #ccc;
}

.details-balloon img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.details-balloon .delete {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  outline: none;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  transition: .3s ease-in-out;
  float: right;
}

.details-balloon .delete:hover {
  background-color: #e60000;
}

.details-balloon .delete:active {
  background-color: #b30000;
}

.details-balloon .delete:focus {
  box-shadow: 0 0 0 2px rgba(255, 77, 77, 0.5);
}

.details-balloon .delete:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}