@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Snowburst+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --shadow-main: 3px 10px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1400px) {
  html {
    font-size: 80%;
  }
}

body {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', cursive;
  color: black;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background: transparent;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

input[type="file"]::file-selector-button {
  background-color: #333;
  border: 2px solid #222;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  transition: .3s;
  cursor: pointer;
  color: white;
}

input[type="file"]::file-selector-button:hover {
  background-color: #222;
}

/* TOOLBAR */

.toolbar {
  position: fixed;
  top: 20px;
  left: 20px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 12px 1rem;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: .5rem;
  font-family: 'Poppins';
}

.toolbar>button {
  background-color: #1a1a1a;
  color: white;
}

.toolbar>span {
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 6px;
  border-radius: 8px;
  user-select: none;

  &:hover {
    background-color: #f0f0f0;
  }
}

.toolbar span[title="More"] {
  position: relative;
}

.toolbar .more-container {
  position: absolute;
  top: 0;
  left: calc(100% + 1rem);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: .7rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

.toolbar .more-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: .5rem;
  border-radius: inherit;
  transition: all 0.3s ease-in-out;
  background: #ffffff;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(135deg, #dcdcdc, #f0f0f0, #c0c0c0);
    border-radius: inherit;
    opacity: 0;
    transition: 0.5s ease;
  }

  &:hover::before {
    opacity: 1;
  }

  & * {
    z-index: 2;
  }
}

.toolbar .more-item p {
  font-size: .9rem;
}

/* SETTINGS */

.settings-modal {
  position: fixed;
  margin: auto;
  height: 90%;
  aspect-ratio: 1.2 / 1;
  /* padding: 2rem; */
  display: flex;
  border: none;
  border-radius: 8px;
  box-shadow: var(--shadow-main);
  outline: none;
  opacity: 0;
  transition: all .3s allow-discrete;
}

.settings-modal[open] {
  opacity: 1;
}

.settings-modal::backdrop {
  background-color: rgba(0, 0, 0, 0);
  transition: all .3s allow-discrete;
}

.settings-modal[open]::backdrop {
  background-color: rgba(0, 0, 0, .8);
}

@starting-style {
  .settings-modal[open] {
    opacity: 0;
  }

  .settings-modal[open]::backdrop {
    background-color: rgba(0, 0, 0, 0);
  }
}

.settings-modal>p {
  max-width: 40ch;
  margin-block: 1em;
  color: #333;
}

.settings-modal>button {
  background-color: black;
  color: #ddd;
  padding: .5em 1em;
  border-radius: .5rem;
  font-weight: 500;
  font-size: 1rem;
  margin-left: auto;
  display: block;
}

.settings-modal .fa-xmark {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 1rem;
  color: #222;
}

/* SETTINGS SIDEBAR */

.settings-sidebar {
  width: 30%;
  height: 100%;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 1rem;
}

.settings-sidebar p {
  color: #ddd;
  padding: .5rem;
  border-radius: 8px;
  font-size: .9rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #333;
  }
}

.settings-sidebar button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  outline: none;
  font-size: 0.9rem;
  transition: .3s ease-in-out;
  margin-top: auto;

  &:hover {
    background-color: #ff3333;
  }
}

/* SETTINGS BODY */

.settings-body {
  width: 70%;
  height: 100%;
  background-color: #f0f0f0;
  padding: 2rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

.settings-body h3 {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

.settings-body .setting-item {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-block: 10px;
}

.settings-body .setting-item input {
  grid-row: span 2;
  height: 30px;
}

.settings-body .setting-item input[type="range"] {
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;

  &::-webkit-slider-runnable-track {
    background: #ccc;
    border-radius: 100px;
    height: 5px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #333;
    cursor: pointer;
    margin-top: -5px;
  }
}

.settings-body .checkbox-wrapper input {
  display: none;
}

.settings-body .checkbox-wrapper label {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  background: #ccc;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
}

.settings-body .checkbox-wrapper label::before,
.settings-body .checkbox-wrapper label::after {
  position: absolute;
  content: '';
  top: 0.2em;
  left: 0.2em;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  transition: 0.4s;
}

.settings-body .checkbox-wrapper label::after {
  border-radius: 50%;
  background: #fff;
  transition: all 0.2s ease;
}

.settings-body .checkbox-wrapper label::before {
  display: none;
}

.settings-body .checkbox-wrapper input:checked+label {
  background: #9FD6AE;
}

.settings-body .checkbox-wrapper input:checked+label::after {
  left: 55%;
}

.settings-body .setting-item .description {
  font-size: .8rem;
  color: #666;
}

/* SIDE PANEL */

.side-panel {
  position: fixed;
  top: 50%;
  right: 30px;
  width: 400px;
  height: calc(100% - 100px);
  background-color: #f0f0f0;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
  font-family: 'Poppins';
  transition: all 0.3s ease-in-out;
  padding-left: 35px;
  overflow-y: auto;
}

.side-panel form {
  display: flex;
  flex-direction: column;
  /* max-height: 100%; */
}

.side-panel form h2 {
  margin-bottom: 16px;
}

.side-panel form label {
  user-select: none;
  margin-inline: 3px 14px;
  margin-bottom: 4px;
}

.side-panel form input,
.side-panel form textarea {
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background: transparent;
  height: 40px;
}

.side-panel form textarea {
  height: 120px;
  resize: none;
}

.side-panel form input[type="radio"] {
  height: unset;
}

.side-panel form input[type="color"] {
  width: 100%;
  height: 38px;
  border: none;
  padding: unset;
  cursor: pointer;
  outline: none;

  &::-webkit-color-swatch {
    border-radius: 4px;
    border: none;
  }
}

.side-panel .link,
.side-panel .search {
  display: flex;
}

.side-panel .link input,
.side-panel .search input {
  flex: 1;
}

.side-panel .link input {
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  border-left: none;
}

.side-panel .search input {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  border-right: none;
}

.side-panel .link button,
.side-panel .search button {
  height: 40px;
  aspect-ratio: 1;
  padding: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid #ccc;

  & i {
    color: #222;
  }
}

.side-panel .link button {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}

.side-panel .search button {
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
}

.side-panel .link+img {
  border-radius: 8px;
  margin-bottom: 1rem;
}

.side-panel form button {
  padding: 8px 16px;
  background-color: #1a1a1a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.side-panel .fa-xmark {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 0 8px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1001;
  font-size: 1rem;
}

.side-panel .open-close-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* IMAGE DISPLAY */

.side-panel .image-display {
  position: relative;
  max-width: 100%;
  height: 200px;
  margin-bottom: .5rem;
  overflow: hidden;
}

.side-panel .image-display img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.side-panel .image-display i {
  position: absolute;
  top: 50%;
  left: 10px;
  translate: 0 -50%;
  cursor: pointer;
  background-color: rgba(26, 26, 26, 0.3);
  color: #eee;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  transition: .3s;

  &:hover {
    scale: 1.1;
  }

  &:last-of-type {
    left: unset;
    right: 10px;
  }
}

.side-panel .image-display button {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% -5px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
  transition: .3s;

  &:hover {
    translate: -50% -10px;
  }
}

@keyframes sidePanelSwitchImage {
  0% {
    scale: 1;
  }

  25% {
    scale: .7;
  }

  50% {
    translate: 100% 0;
  }

  51% {
    translate: 100% 100%;
  }

  52% {
    translate: -100% 100%;
  }

  53% {
    translate: -100% 0;
  }

  75% {
    scale: .7;
  }

  100% {
    scale: 1;
    translate: 0 0;
  }
}

/* IMAGE MINI BROWSE */

.image-mini-browse {
  width: 100%;
  height: 60px;
  margin-bottom: 1rem;
  display: flex;
  gap: 5px;
  overflow: hidden;
  overflow-x: auto;
}

.image-mini-browse img {
  height: 100%;
  width: auto;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s;

  &:hover {
    scale: 1.05;
  }
}

.image-mini-browse::-webkit-scrollbar {
  height: 8px;
}

.image-mini-browse::-webkit-scrollbar-track {
  background: transparent;
}

.image-mini-browse::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 4px;
}

.image-mini-browse::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

/* DETAILS BALLOON */

@keyframes detailsBalloonFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes detailsBalloonFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.details-balloon {
  position: absolute;
  width: 350px;
  aspect-ratio: 1 / 1.2;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 1rem;
  z-index: 1000;
  font-family: 'Poppins';
  transition: all 0.3s ease-in-out;
  overflow-y: auto;

  &:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    scale: 1.02;
  }

  &>* {
    user-select: none;
  }
}

.details-balloon .title {
  text-transform: capitalize;
  font-size: 1.2rem;
}

.details-balloon .fa-xmark {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 1rem;
  color: #444;
}

.details-balloon .description,
.details-balloon .date {
  font-size: .8rem;
  color: #444;
  margin-bottom: 0.3rem;
  text-align: justify;
}

.details-balloon .description {
  min-height: 80px;
}

.details-balloon .date {
  color: #666;
  translate: 0 -0.2rem;
  font-style: italic;
  border-bottom: 1px solid #ccc;
}

.details-balloon img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.details-balloon .delete-container {
  display: flex;
  justify-content: flex-end;
}

.details-balloon .delete {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  outline: none;
  font-size: 0.8rem;
  transition: .3s ease-in-out;
}

.details-balloon .delete:hover {
  background-color: #e60000;
}

.details-balloon .delete:active {
  background-color: #b30000;
}

.details-balloon .delete:focus {
  box-shadow: 0 0 0 2px rgba(255, 77, 77, 0.5);
}

.details-balloon .delete:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}